<div class="top">
  <h1>Search The Snapple Facts!</h1>
  <h4>Random Facts For Curious People... </h4>
  <label for="searchNum">
    Snapple Fact #
    <input type="integer" id="searchNum">
  </label>
  <!-- The URL and method are ignored because the click behavior
       of the button is going to be overridden in JavaScript -->
  <%= button_to "Search", "/search/", method: :get, class: "find searchButton" %>

  <!-- The URL and method are ignored because the click behavior
       of the button is going to be overridden in JavaScript -->
  <%= button_to "Random Fact", "/random", method: :get, class: "random" %>

  <!-- The URL and method are ignored because the click behavior
       of the button is going to be overridden in JavaScript -->
  <%= button_to "Show All Facts", "/all", method: :get, class: "all allButton" %>
</div>

<center>
  <div id="searchResults" style="margin:12px">
  </div>
</center>
